html, body, #root {
  height: 100%;
  width: 100%
}

.App {
  text-align: center;
  width: 100%;
  position: relative;
  top: 30%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


input {
  font-size: 17px;
  width: 70%;
}

.error {
  color: red;
}

ul.center {
  display: table;
  margin: 0 auto;
  text-align: left;
  margin-top: 30px;
}